custom.el
emacs.el
.org-id-locations
ac-comphist.dat
auto-save-list
.python-environments
backup
projectile-bookmarks.eld
ido.last
tramp
Games
.emacs.d/.cache/treemacs-persist
.emacs.d/.lsp*
.emacs.d/bookmarks
.emacs.d/eclipse.jdt.ls
.emacs.d/elpa
.emacs.d/history
.emacs.d/network-security.data
.emacs.d/projectile.cache
.emacs.d/workspace
